#img-1{
    background: url('img/Merida.jpg');
  }
  
  #img-2{
    background: url('img/Maracaibo.jpg');
  }
  
  #img-3{
    background: url('img/Caracas.jpg');
  }
  
  #img-4{
    background: url('img/Amazonas.jpg');
  }
  
  #img-5{
    background: url('img/Monagas.jpg');
  }